#masthead {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #f1f1f1;
}

.container {
    position: relative;
    width: 100%;
    @include mq('from-medium') {
        max-width: 1080px;
        margin: 0 auto;
    }
    @include mq('large') {
        max-width: 1180px;
    }
}

#page-featured-image {
    width: 100%;
    height: 75vh;
    margin: 0;
    background-color: #eee;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
}

#featured-image-text__wrapper {
    margin: -50px auto 0 auto;
//    @include display(flex);
//    @include justify-content(center);
//    @include align-items(center);
}

.featured-image-logo {
//    max-width: 140px;
}