//Sticky Footer Fix
.flexbox body {
    #page {
    @include display(flex);
    @include flex-direction(column);
    min-height: 100vh;
        #content {
                    @include flex(1);
        }
    }
}

#masthead {
    width: 100%;
    height: auto;
}

.single #masthead,
.archive #masthead {
        margin-bottom: 2em;
}

#page-featured-image {
    width: 100%;
    margin: 0;
    background-color: #eee;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    display: inline-block;
    z-index:1;
    height: 45vh;
    @include mq ('medium') {
        height: 60vh;
    }
    @include mq ('large') {
        height: 70vh;
    }
}

#single-post-featured-image {
    height: 600px;
}

#content {
    margin-bottom: 5rem;
}

.novh #page-featured-image {
    height: 700px;
}

#featured-image-text__wrapper {
    margin: 0 auto 0 auto;
}

.page-title-wrapper {
    margin: 0.75rem auto;
}

.flexbox .page-title-wrapper {
    @include mq('from-medium') {
        @include display(flex);
        @include justify-content(center);
        .entry-header {
            @include display(flex);
            @include justify-content(center);
            @include flex-direction(column);
        }
    }
}

.no-flexbox .header-wrapper {}

.flexbox .single-post .header-wrapper {
    display: block;
}

.content-area__single {
    border-top: 1px solid #ddd;
    padding-top: 1.2em;
}


/* --------------------------------------------------------------------------------------------
    NEAT GRID
   -------------------------------------------------------------------------------------------- */

.blog .site-content.container,
.single .site-content.container,
.archive .site-content.container {
    @include outer-container(90%);
    @include mq('large') {
        @include outer-container(1080px);
    }
}

.container {
    @include outer-container(90%);
    @include mq('large') {
        @include outer-container(1080px);
    }
}

.site-content.container {
    @include outer-container(90%);
    @include mq('large') {
        @include outer-container(860px);
    }
}

.row {
    //    @include row();
    @include span-columns(12);
    margin-bottom: 1.5em;
}

@include mq('from-medium') {
    @for $i from 1 through 12 {
        .push-#{$i} {
            @include shift($i);
        }
        .pull-#{$i} {
            @include shift(-$i);
        }
    }
}

@for $i from 1 through 12 {
    .small-#{$i} {
        @include span-columns($i);
    }
}

@include mq('from-medium') {
    @for $i from 1 through 12 {
        .medium-#{$i} {
            @include span-columns($i of 12);
        }
    }
}

@include mq('large') {
    @for $i from 1 through 12 {
        .large-#{$i} {
            @include span-columns($i of 12);
        }
    }
}


/* --------------------------------------------------------------------------------------------
    FOOTER
   -------------------------------------------------------------------------------------------- */

#colophon {
    min-height: 9rem;
    background-color: $color__background-footer;
    position: relative;
}

.footer_image_wrapper {
    position: absolute;
    top: -280px;
    right: 60px;
    img {
        height: 340px;
    }
    @include mq(1200px) {
        position: absolute;
        top: -80px;
        img {
            height: 180px;
        }
    }
    @include mq(600px) {
        display: none;
    }
}