.widget-area {
    background-color: #fafafc;
    @include mq('from-medium'){
    padding: 2em;
    }
}

.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}
