.widget-area {
    padding: 1em;
    @include mq('from-medium'){
    padding: 2em;
    }
}

aside .widget {
    padding: 0;
    margin-bottom: 0.5em;
    background-color: #fff;
    li {
        margin-bottom: 1em;
        &:hover {
            color: $color__link-hover;
        }
    }
	select {
		max-width: 100%;
	}
    &.widget_search {
        background-color: #f5f5fa;
        padding: 1.8em 1.2em;
        border-radius: 1.2em;
        border: 1px solid #bbb;
    }
}

footer .widget {
    margin-top: 2em;
    margin-bottom: 2em;
    color: aliceblue;
    font-size: 0.8em;
}

.site-info {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.tagcloud {
    a {
        border-radius: 1em;
        padding: 0.55em;
        background-color: #eee;
        border: 1px solid #aaa;
        &:hover {
            background-color: $color__background-more-link__hover;
            color: aliceblue;
        }
    }
    padding-bottom: 1.4em;
}