a {
	color: $color__link;
    .entry-content p & {
    border-bottom: 2px solid $color__border-link;
    padding: 0.15em;
    @include transition(0.2s border ease-in-out);
    }
    .entry-content p &:hover {
    border-bottom: 2px solid $color__border-link__hover;
    }
    text-decoration: none;
    
	&:visited {
//		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;  
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.entry-content .more-link {
    padding: 0.5em 0.6em;
    border-radius: 0.5em;
    margin: 1.2em auto;
    background-color: $color__background-more-link;
    color: #fff;
    font-size: 0.8em;
    border: none;
    &:hover {
        background-color: $color__background-more-link__hover;
        border: none;
    }
}

.tags-links a,
.cat-links a {
    font-size: 0.7em;
    padding: 0.4em;
    border-radius: 0.7em;
    border: 1px solid $color__background-more-link;
    &:hover {
        background-color: $color__background-more-link__hover;
//        border: none;
        color: aliceblue;
    }
}