.main-navigation-wrapper {
    border-bottom: 1px solid #ccc; 
}

.site-branding {
    @include mq('small') {
        text-align: center;
    }
    @include mq('from-medium') {
        float: left;
    }
}

.main-navigation {
    display: block;
    @include mq('from-medium') {
        float: right;
    }
    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
        text-align: center;
        @include mq('from-medium'){
        text-align: right; 
        }
    }
    li {
        display: inline-block;
        position: relative;
        margin-right: 0.8rem;
        margin-left: 0.8rem;
        @include mq('from-medium') {
            margin-right: 2rem;
            margin-left: 0;
            }
        &:hover > a,
        &.focus > a {}
        &:last-child {
            @include mq('from-medium') {
            margin-right: 0;
            }
            }
    }
    a {
        display: block;
        text-decoration: none;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.15rem;
        margin: 1.5rem 0;
        color: $color__main-nav-link;
        border-bottom: 1px solid #eee;
        @include mq('from-medium') {
            line-height: 1.8rem;
            margin: 2rem 0;
        }
        @include mq('very_large'){
            line-height: 2rem;
        }
        &:hover {
        border-bottom: 2px solid red;
        }
    }
    .current_page_item > a,
    .current-menu-item > a, {
        border-bottom: 2px solid red;
    }
}

.site-logo {
    img {
        max-height: 6rem;
        padding: 0.25rem 0;
    }
    @include mq('very_large'){
        max-height: 7rem;
    }
}


/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

.comment-navigation,
.posts-navigation,
.post-navigation {
    .site-main & {
        margin: 0 0 1.5em;
        overflow: hidden;
    }
    .nav-previous {
        float: left;
        width: 50%;
    }
    .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }
}